
#showcase {
    background-image: url("Images/imageSix.jpg");
    margin-bottom: 30px;
}

h1#title {
    font-size: 120px;
}

.btn-primary {
    background-color: #979778;
    border-color: #979778;
}

.btn-light {
    border-color: #979778;
}

@media (max-width: 425px) {
    h1#title {
        font-size: 90px;
    }
}