
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;700&display=swap');

/* Basic Style */

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
    width: auto;
    line-height: 1.5;
    background-color: #ffffdb;
}

.container {
    width: auto;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;

}



/* Header */
header {
    background-color: #9BD9E2;
    color: #000000;
    min-height: 70px;
    border-bottom: 5px solid #979778;
    padding: 10px 0;

}

header>.container {
    display: flex;
    justify-content: space-between;
}

header ul {
    height: 100%;
    display: flex;
    align-items: center;
}

header li {
    list-style: none;
    padding: 0 20px;
}

header a {
    color: #ffffff;
    text-decoration: rgb(192, 177, 13);
    text-transform: uppercase;
    font-size: 30px;
}

/* specificity battle */
#current a:hover,
a:hover {
    color: #f6f065;
    font-weight: bold;
}





/* home page stuff */
/* Showcase */
#showcase {
    min-height: 400px;
    /* background-image: url("Images/laptop.png"); */
    margin-bottom: 20px;
    background-image: url("Images/imageThree.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

#showcase h1 {
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 100px;
    text-shadow: 2px 2px 8px #000000;
}

#showcase p {
    font-size: 25px;
    text-shadow: 2px 2px 8px #000000;
}


/* home page stuff */




/* Footer */
footer {
    background-color: #9BD9E2;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border-top: 5px solid#979778;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#hover:hover {
    color: #f6f065;
}

p {
    text-align: center;
}


/* ! footer css */

footer p {
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px black;
}

footer ul {
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
}

footer li {
    list-style: none;
    padding: 0 20px;
    margin: auto;
}

@media (max-width: 425px) {
    body {
        width: fit-content;
    }
}